<!DOCTYPE html>
<html lang="en">
<head>
    <title>PFE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />

    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->

    
    <link rel="icon" href="../..//assets/admin/images/favicon.ico" type="image/x-icon">
    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/admin/css/style.css">
</head>
<body style=" background: linear-gradient(90deg, rgba(9,79,121,1) 1%, rgba(0,212,255,1) 100%);" >
	<!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar" style="background:linear-gradient(90deg, rgba(9,79,121,1) 1%, rgba(0,212,255,1) 100%);;">	
        	<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<div >
					<div class="main-menu-header">
						<img class="img-radius" src="/assets/icons/alamni.jpeg" alt="User-Profile-Image">
						<div class="user-details">
							<div id="more-details" class="text-white">Alamni 
                            </div>
						</div>
					</div>
				</div>
<br><br>
<div class="container">
				<ul class="nav pcoded-inner-navbar contain "id="tit1">
					<li class="nav-item">
					    <a href="/dashboard" class="nav-link "><span>
                      <img src="../../../../assets/icons/dashboard.png" class="icon"></span>
                      <span class="pcoded-mtext mx-2">Tableau de bord</span></a>
					</li>
        <li class="nav-item pcoded-hasmenu">
            <a href="parent" class="nav-link "><span>
                <img src="/assets/icons/add-user.png" class="icon"></span>
               <span class="pcoded-mtext mx-2"> Parent</span></a>
            <ul class="pcoded-submenu">
            </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="/professor" class="nav-link "><span>
              <img src="/assets/icons/consent.png" class="icon"></span>
             <span class="pcoded-mtext mx-2"> Professeur</span></a>
          <ul class="pcoded-submenu">
          </ul>
      </li>
    </ul>
			</div>
		</div>
        </div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
		<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="//dashboard"><span></span></a>
					<a href="#!" class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="/assets/icons/profile.png" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler" >
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
                        
						<li class="nav-item" id="logout">
							<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" id="m-search" class="form-control"  
                                placeholder="Rechercher...">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
                      
						
						<li>
							<div class="dropdown drp-user">
								<a href="/login"  id="logout"
                                     class="dropdown-toggle" data-toggle="dropdown">
									<i class="feather icon-log-out"></i>
								</a>
							</div>
						</li>
                       
					</ul>
				</div>
				
			
	</header>
	<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content container">
        <!-- [ breadcrumb ] start -->
        <div class="page-header container">
            <div class="page-block  ">
                <div class="row align-items-center">
                    <div class="col-md-16">
                        <div class="page-header-title mx-5">
                            <h5 class="m-b-10 move-right" id="tit">Tableau de bord</h5>
                        </div>
                        <ul class="breadcrumb" id="tit">
                            <li class="breadcrumb-item move-right"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item move-right"><a href="/dashboard">Tableau de bord</a></li>
                        </ul>
                    </div>
                </div>
          
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
     
</div>
</div>
<div class="container">
    <div class="row">
        <h1 class="container my-5 text-center">Espace Admin </h1>
        <div class="col-md-2"></div>
        
        <div class="col-md-4">
          <div class="card">
            <img class="card-img" src="https://img.freepik.com/vecteurs-libre/papa-maman-fille_24908-59693.jpg?t=st=1714776760~exp=1714780360~hmac=4b320e6433854259961bab3b96d71b412dad136f03b0c2888cb8322210aa2930&w=740" alt="Card Image">
            <div class="card-content text-center">
                <h2 class="card-title">Parent</h2>
                <button class="card-link btn btn-primary btn-lg my-3"  routerLink="/parent" target="_blank">Gérer les parents</button>
              </div>
          </div>
        </div>
      
        <div class="col-md-4">
            <div class="card">
              <img class="card-img" src="https://img.freepik.com/vecteurs-libre/enseignant-debout-pres-du-tableau-noir-tenant-baton-isole-illustration-vectorielle-plane-personnage-dessin-anime-femme-pres-du-tableau-pointant-alphabet_74855-8600.jpg?t=st=1714776706~exp=1714780306~hmac=1c5a93f9f7c9bb2e7e59f00ad41817ec6dac2b13c27eaf7ba96f17d7c996ab96&w=996" alt="Card Image">
              <div class="card-content text-center">
                <h2 class="card-title">Professeur</h2>
                <button class="card-link btn btn-primary btn-lg my-3" routerLink="/professor" target="_blank">Gérer les professeur</button> <!-- Bouton plus grand (large) -->
              </div>
            </div>
          </div>
          
      
        <div class="col-md-2"></div>
        </div>
      </div>